binary/logs/*
binary/salobin
binary/resources/vk_today.conf
binary/captcha_cache/*
binary/resources/*.account
binary/bots/*
binary/fastbuild
binary/crashdumps/*
!binary/crashdumps/.gitkeep
binary/resources/watchdog.pid
.directory
salointellect.git.kdev4
.kdev4/
*.kdev4
binary/resources/config/bot_config/*/dynamic.yaml
docs/*.pdf
docs/*.aux
docs/*.out
docs/*.log
docs/*.gz
